body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0px;
    margin-right: 0px;

}

.container-fluid{
    background-color: #a17c7c;
    width: 100%;
    height: 100%;
}

#perrytxt{


    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;

    color: #000000;

}